<footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <a href="#">
            <img src="assets\logo.png" alt="Logo Clean Now">
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>SOBRE NOSOTROS</h2>
        <p>Somos una aplicación web innovadora de contratación de servicios de limpieza por horas.</p>
        <p>Nuestro lema: Servicio al cliente de calidad y confianza, contacto inmediato y en tiempo real.</p>
      </div>
      <div class="box">
        <h2>SIGUENOS</h2>
        <div class="red-social">
          <a href="https://www.facebook.com/Clean.now10" class="fa fa-facebook"></a>
          <a href="https://www.facebook.com/Clean.now10" class="fa fa-instagram"></a>
          <a href="https://www.facebook.com/Clean.now10" class="fa fa-twitter"></a>
          <a href="https://www.facebook.com/Clean.now10" class="fa fa-youtube"></a>
        </div>
      </div>
    
    </div>
    <div class="grupo-2">
      <small>&copy; 2023 <b>Clean Now</b> - Todos los Derechos Reservados.</small>
    </div>
  </footer>